:root {
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'REM', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100dvh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4)), url('./assets/dark-sunset-wallpaper-2560x1080_14.jpg');
  background-size: cover; 
  background-position: center bottom; 
  color: white;
}


